@import '../../../Styles/main-colors.css';

.item {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-family: var(--font-Lato);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonIcon {
  cursor: pointer;
}

.item p {
  color: var(--tan-color);
  float: left;
}

.actions {
  display: flex;
  justify-content: flex-end;
}